name: Test Python SDK

on:
  workflow_call:
    secrets:
      E2B_API_KEY:
        required: true
        description: 'E2B API key for testing'

jobs:
  integration_tests:
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      id-token: write
    defaults:
      run:
        working-directory: ./packages/python-sdk
    name: Build and test SDK
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Parse .tool-versions
        uses: wistia/parse-tool-versions@v2.1.1
        id: tool-versions
        with:
          filename: '.tool-versions'
          uppercase: 'true'
          prefix: 'tool_version_'

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '${{ env.TOOL_VERSION_PYTHON }}'

      - name: Install and configure Poetry
        uses: snok/install-poetry@v1
        with:
          version: ${{ env.TOOL_VERSION_POETRY }}
          virtualenvs-create: true
          virtualenvs-in-project: true
          installer-parallel: true

      - name: Install dependencies
        run: poetry install

      - name: Test build
        run: poetry build

      - name: Run tests
        run: poetry run pytest --verbose -x
        env:
          E2B_API_KEY: ${{ secrets.E2B_API_KEY }}
